{% extends 'main/layout.html' %}
{% block title %}Редактирование статьи{% endblock %}

{% block content %}
    <div class="features">
        <h1>Редактирование статьи</h1>
        <form method="post" action="update" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="title" class="form-control" value="{{ form.title }}" maxlength="50" required id="id_title"><br>
            <input type="text" name="anons" class="form-control" value="{{ form.anons }}" maxlength="250" required id="id_anons"><br>
            <textarea name="full_text" cols="40" rows="10" class="form-control" value="{{ form.full_text }}" required id="id_full_text"></textarea><br>
            <input type="file" name="image" class="form-control" value="{{ form.image }}" required id="id_image"><br>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            <button class="btn btn-success" type="submit">Редактировать</button>
        </form>
    </div>
{% endblock %}